<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="etraveler02.Qcrr.Application" connectionString="XpoProvider=MSSqlServer;data source=ETRAVELER02;user id=;password=;initial catalog=Qcrr;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>